@charset "UTF-8";
/* .container { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/* } */

.join_content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   height: 100vh; */
  margin-top: 65px;
  padding-top: 110px;
}

.btn_login {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
}

.form_sumit {
	text-align: center;
}

/* .navbar-brand { */
/*   display: flex; */
/*   align-items: center; */
/*   font-size: 50px; */
/*   font-weight: 800; */
/*   text-align: center; */
/*   margin-top: 2%; */
/*   margin-right: 4%; */
/* } */

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
}


.form_submit {
	width: 500px;
}

#id {
	width: 65%;
	height: 45px;
}

#email {
	width: 59%;
	height: 45px;
}

#userInput {
	width: 72%;
	height: 45px;
}

.int_pass_step3 input,
.int_pass_check input,
#memname,
#birth,
#tel {
	width: 85%;
	height: 45px;
}

input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 17px;
    border: none;
    border-radius: 8px;
    background-color: #ff9f40;
    color: #fff;
    cursor: pointer;
    width: 90%;
    height: 55px;
}

input[type="button"] {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 17px;
    border: none;
    border-radius: 8px;
    background-color: #ff9f40;
    color: #fff;
    cursor: pointer;
    height: 42px;
}

.btn_join {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
}

input[type="submit"]:hover {
	background-color: #e67f19;
}

input[type="button"]:hover {
	background-color: #e67f19;
}

button {
  border: 1px solid #ddd;;
  outline: none;
  border-radius: 5px;
}

.navbar-brand span:first-of-type {
  color: #007bff;
}

.navbar-brand span:last-of-type {
  color: #28a745;
}

.navbar-brand span:last-of-type span {
  color: #007bff;
}

.form-group {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

a {
    transition: .3s all ease;
    color: #007bff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 480px;
}

.alert {
    position: relative;
    padding: 0.1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
}

.alert-danger {
    background-color: white;
    border-color: white;
}

.alert-success {
    background-color: white;
    border-color: white;
}