@charset "UTF-8";
/* .container { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/* } */

.join_content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 65px;
}

.btn_login {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
}

.form_sumit {
	text-align: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-top: 2%;
  margin-right: 4%;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.form_submit {
	width: 500px;
}

#id {
	width: 65%;
	height: 45px;
}

#email {
	width: 58%;
	height: 45px;
}

#userInput {
	width: 72%;
	height: 45px;
}

.int_pass_step3 input,
.int_pass_check input,
#memname,
#birth,
#tel {
	width: 85%;
	height: 45px;
}

input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 17px;
    border: none;
    border-radius: 8px;
    background-color: #ff9f40;
    color: #fff;
    cursor: pointer;
    width: 90%;
    height: 55px;
}

input[type="button"] {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 17px;
    border: none;
    border-radius: 8px;
    background-color: #ff9f40;
    color: #fff;
    cursor: pointer;
    height: 42px;
}

.btn_join {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
}

input[type="submit"]:hover {
	background-color: #e67f19;
}

input[type="button"]:hover {
	background-color: #e67f19;
}

button {
  border: 1px solid #ddd;;
  outline: none;
  border-radius: 5px;
}
