@charset "UTF-8";

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 8%;
    font-family: "Poppins", Arial, sans-serif;
}

.btn_login {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
}

a {
    transition: .3s all ease;
    color: #007bff;
}

input[type="submit"], input[type="button"] {
	display: inline-block;
	margin-top: 1px;
	margin-right: 10px;
	padding: 3px 17px;
	border: none;
	border-radius: 8px;
	background-color: #ff9f40;
	color: #fff;
	cursor: pointer;
}

