#noticecontents {
        background-color: #f7f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
         margin: 0 200px;
    }

    .list {
        width: 100%;
        margin-top: 20px;
        text-align: left;
        border-collapse: collapse;
    }

    .list th,
    .list td {
        padding: 10px;
        border-bottom: 1px solid #e1e8eb;
    }

    .list th {
        background-color: #f2f5f7;
        color: #394041;
        font-weight: bold;
    }

    .list td a {
        color: #394041;
        text-decoration: none;
    }

    .list td a:hover {
        text-decoration: underline;
    }

    .search-form {
        margin-top: 20px;
    }

    .search-form input[type="text"] {
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
        text-align: center;
    }

    .search-form input[type="submit"] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
    }
    
    .search-form input[type="button"] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
    }


/*dd */
    #searchFormWrapper {
         /* 가운데 정렬 */
        margin-bottom: 20px;
    }

    #searchFormWrapper input[type="text"] {
        width: 300px; /* 원하는 너비로 조정 */
        padding: 5px;
        border: 1px solid #ddd;
    }

    #searchFormWrapper input[type="submit"] {
        padding: 5px 10px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        cursor: pointer;
        font-weight: 700;
    }
    
      .sec01 {
        text-align: center;
        margin-bottom: 400px;
        font-size: 20px;
    }

    #pageBlock {
        display: inline-block;
    }

    #pageBlock a {
        margin: 0 5px;
    }

    #pageBlock input[type="button"] {
        margin-top: 10px;
    }
    
     #noticewrite {
        text-align: right;
        margin-top: 10px;
        margin-right: 200px;
    }
    
      #noticeMain {
        font-size: 50px;
        padding-left: 220px;
        margin-bottom: 0;
    }
    
  
#writecontainer {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.writeform {
  margin-top: 20px;
}


.form-group {
  margin-bottom: 15px;
  
}

#writeco {
	width: 800px;
}

#title {
	width: 800px;
}

#noticeCategory {
	width: 800px;
}

    .form-group input[type="button"],
    input[type="submit"] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        display: inline-block;
  		margin: 0 auto;
  		margin-right: 100px;
  		margin-left: 100px;
  		font-weight: 700;
  		
    }
    
    .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  #writesubmit {
  	position: relative;
  	left:27%;
  }
  
  #writelist {
  	position: relative;
  	right: 27%;
  }
  
  #searchkey {
  	position: relative;
  	left: 11%;
  }
  
  .writelist {
  	position: relative;
  	padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    margin: 0 auto;
  	margin-right: 100px;
  	margin-left: 400px;
  	position: relative;
  	bottom: 60px;

  		
  }
  
 