@charset "UTF-8";

.sec01 {
/* 	margin-bottom: 0%; */
	display:flex;
	justify-content: center;
}

#king {
	width: 100%;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

th, td {
	width: 200px;
}
#content, row d-flex mb-5 contact-info{display: center;}
#content {
	position: relative;
	margin-top: 80%;
/* 	width:200px; */
	float: right;
}
row d-flex {
	width:30%;
	margin: 0;
	padding: 0;
}






    .list {
        width: 60%;
/*         border-collapse: collapse; */
    }

    .list th, .list td {
        padding: 10px;
        border: 1px solid #ccc;
    }

    .list th {
        background-color: #f2f2f2;
        font-weight: bold;
    }



    .list th:nth-child(2),
    .list td:nth-child(2) {
        width: 50%; /* 제목 칸 가로 길이 조정 */
    }

    .list th:nth-child(3),
    .list td:nth-child(3) {
        width: 10%; /* 조회수 칸 가로 길이 조정 */
    }
    
     .list th{
        padding: 10px;
        border: none; /* 제목 세로 선 제거 */
    }
    
    
    /* table 테두리 선 없애기 */
      table.list {
   	  border-collapse: collapse;
  	  border: none;
  	}

 	 table.list th,
 	 table.list td {
     border: none;
     padding: 5px;
    }
    
    
    /* table 가로 선 만들기 */
	    table.list {
	    border-collapse: collapse;
	  }
	
	  table.list th,
	  table.list td {
	    border-bottom: 1px solid black;
	    padding: 5px;
	  }
	
	  table.list th:first-child,
	  table.list td:first-child {
	    border-left: none;
	  }
	
	  table.list th:last-child,
	  table.list td:last-child {
	    border-right: none;
	  }
	
	  table.list tr:last-child th,
	  table.list tr:last-child td {
	    border-bottom: none;
	  }
	  
	  
	 
	    
    
    
    
    
    #pageBlock {
		position: relative;
		bottom:47px;    
    }
    
    #write {
		position: relative;
		left:540px;
		bottom:30px;    
    }
  

   
   
   
	   
	 #pageBlock {
	/*   display: flex; */
	  align-items: center;
	}
	
	  


