select option {
/* 	color: black; */
	color: #bbe0f7;
}

.login-form {
	max-width: 300px;
}

.login-form h2 {
	text-align: center;
}

.login-form .form-group {
	margin-top: 20px;
}

.login-form .btn-primary {
	width: 100%;
}

.join-membership a {
	color: #00ff00;
}

.login_content {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px 28PX;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.login_row {
	margin-bottom: 10px;
}

.join_title {
	display: inline-block;
	width: 70px;
	font-weight: bold;
	margin-right: 10px;
}

.input_text {
	padding: 5px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.wrap {
	position: relative;
    height: 100%;
    letter-spacing: -.5px;
}

.li {
	text-align: -webkit-match-parent;
	-webkit-text-size-adjust: none;
}

body {
	 height: 100%;
    color: #222;
    background-color: #fff;
}

.find_wrap, .relogin_fin_wrap {
	padding: 20px 0 35px;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
	margin-top: 20px;
    text-decoration: none;
    color: #888;
}

ul {
	list-style: none;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

input[type="submit"], input[type="button"] {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 3px 17px;
	border: none;
	border-radius: 8px;
	background-color: #ff9f40;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #e67f19;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-brand span:first-of-type {
  color: #007bff;
}

.navbar-brand span:last-of-type {
  color: #28a745;
}

.navbar-brand span:last-of-type span {
  color: #007bff;
}

