@charset "UTF-8";

img {
	overflow-clip-margin: content-box;
	overflow: clip;
}

div#res_click_map {
	position: relative;
	overflow-x: scroll;
	width: 100%;
	margin-top: 0px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

div#res_click_map>img {
	width: 800px;
	position: relative;
	display: block;
}

div#res_click_map .click_inner a {
	position: absolute;
	width: 50px;
	height: 75px;
	text-align: center;
	line-height: 62px;
	font-size: 13px;
	color: #fff;
	background: #ccc;
}

div#res_click_map .click_inner a.cbtn_on.selected {
	background: #ff0080;
}

div#res_click_map .click_inner a.cbtn_on {
	background: #8080ff;
}

div#res_click_map .click_inner a.cbtn_01 {
	top: 40px;
	left: 60px;
}
div#res_click_map .click_inner a.cbtn_02 {
	top: 40px;
	left: 130px;
}
div#res_click_map .click_inner a.cbtn_03 {
	top: 40px;
	left: 200px;
}
div#res_click_map .click_inner a.cbtn_04 {
	top: 40px;
	left: 270px;
}
div#res_click_map .click_inner a.cbtn_05 {
	top: 40px;
	left: 340px;
}
div#res_click_map .click_inner a.cbtn_06 {
	top: 40px;
	left: 410px;
}
div#res_click_map .click_inner a.cbtn_07 {
	top: 40px;
	left: 480px;
}
div#res_click_map .click_inner a.cbtn_08 {
	top: 40px;
	left: 550px;
}
div#res_click_map .click_inner a.cbtn_09 {
	top: 40px;
	left: 620px;
}
div#res_click_map .click_inner a.cbtn_10 {
	top: 40px;
	left: 690px;
}
div#res_click_map .click_inner a.cbtn_11 {
	top: 315px;
	left: 60px;
}
div#res_click_map .click_inner a.cbtn_12 {
	top: 315px;
	left: 130px;
}
div#res_click_map .click_inner a.cbtn_13 {
	top: 315px;
	left: 200px;
}
div#res_click_map .click_inner a.cbtn_14 {
	top: 315px;
	left: 270px;
}
div#res_click_map .click_inner a.cbtn_15 {
	top: 315px;
	left: 340px;
}
div#res_click_map .click_inner a.cbtn_16 {
	top: 315px;
	left: 410px;
}
div#res_click_map .click_inner a.cbtn_17 {
	top: 315px;
	left: 480px;
}
div#res_click_map .click_inner a.cbtn_18 {
	top: 315px;
	left: 550px;
}
div#res_click_map .click_inner a.cbtn_19 {
	top: 315px;
	left: 620px;
}
div#res_click_map .click_inner a.cbtn_20 {
	top: 315px;
	left: 690px;
}
div#res_click_map .click_inner a.cbtn_21 {
	top: 455px;
	left: 60px;
}
div#res_click_map .click_inner a.cbtn_22 {
	top: 455px;
	left: 130px;
}
div#res_click_map .click_inner a.cbtn_23 {
	top: 455px;
	left: 200px;
}
div#res_click_map .click_inner a.cbtn_24 {
	top: 455px;
	left: 270px;
}
div#res_click_map .click_inner a.cbtn_25 {
	top: 455px;
	left: 340px;
}
div#res_click_map .click_inner a.cbtn_26 {
	top: 455px;
	left: 410px;
}
div#res_click_map .click_inner a.cbtn_27 {
	top: 455px;
	left: 480px;
}
div#res_click_map .click_inner a.cbtn_28 {
	top: 455px;
	left: 550px;
}
div#res_click_map .click_inner a.cbtn_29 {
	top: 455px;
	left: 620px;
}
div#res_click_map .click_inner a.cbtn_30 {
	top: 455px;
	left: 690px;
}